$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #2F4F4F;
$font-color: #FFFFFF;
// $white: #fff;

body {
  background-color: $background-color;
  color: $font-color;
  height: 150%;

  .signed-in {
    color: #000000;
    display: none;
  }
  .add-ride-form {
    color: #000000;
  }
  .add-header {
    color: $font-color;
    color: #E5E5E5;
  }
  .update-ride-form {
    color: #000000;
  }
  .display-when-logged-out {
    color: #000000;
  }

  #add-ride-button {
    display: none;
  }

  .add-ride-form {
    display: none;
    color: #323232;
  }

  .update-ride-form {
    display: none;
  }

  .clear {
    display: none;
  }

  .delete-a-ride {
    display: none;
  }

}
